
.icon-play:before { content: '\e800'; } /* '' */
.icon-adjust:before { content: '\e801'; } /* '' */
.icon-water:before { content: '\e802'; } /* '' */
.icon-flow-cascade:before { content: '\e803'; } /* '' */
.icon-flow-branch:before { content: '\e804'; } /* '' */
.icon-flow-tree:before { content: '\e805'; } /* '' */
.icon-flow-line:before { content: '\e806'; } /* '' */
.icon-flow-parallel:before { content: '\e807'; } /* '' */
.icon-news:before { content: '\e808'; } /* '' */
.icon-doc-text:before { content: '\e809'; } /* '' */
.icon-looped-square-interest:before { content: '\e80a'; } /* '' */
.icon-article-alt:before { content: '\e80b'; } /* '' */
.icon-article:before { content: '\e80c'; } /* '' */
.icon-target:before { content: '\e80d'; } /* '' */
.icon-layers-alt:before { content: '\e80e'; } /* '' */
.icon-layers:before { content: '\e80f'; } /* '' */
.icon-list-nested:before { content: '\e810'; } /* '' */
.icon-sun:before { content: '\e811'; } /* '' */
.icon-sun-inv:before { content: '\e812'; } /* '' */
.icon-moon-inv:before { content: '\e813'; } /* '' */
.icon-cd:before { content: '\e814'; } /* '' */
.icon-comment:before { content: '\e815'; } /* '' */
.icon-chat:before { content: '\e816'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin1-1:before { content: '\e834'; } /* '' */
.icon-spin2:before { content: '\e839'; } /* '' */
.icon-town-hall:before { content: '\e83c'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-clan:before { content: '\f22c'; } /* '' */